Clarify bullet item in Introduction

Please review "moderator team replaces the IETF discussion list
moderation team" and let us know if any updates would be helpful for clarity.

Original:
```
   *  Obsoletes Section 3 of [RFC9245] and the second paragraph of
      Section 4 of [RFC9245], as the moderator team replaces the IETF
      discussion list moderation team.
```

Perhaps:
```
   *  Obsoletes Section 3 of [RFC9245] and the second paragraph of
      Section 4 of [RFC9245], as the IETF moderator team defined in this document
      replaces the IETF discussion list moderator team.
```

That's fine.